*{
    margin:0; padding:0;
    box-sizing: border-box;
  }
  
  a{ text-decoration: none; color: inherit;}
  li{ list-style: none;}
  body{
    background: linear-gradient(rgb(114, 175, 235), #badfff);
  }